<div class="container">
        <div class="headcompare">
          <h1>Result</h1>


<table class="table table-bordered">
      <thead>
        <tr>
          <th>First image</th>
          <th>Second Image</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="resimg"><img src="/images/file1.png" ></td>
          <td class="resimg"><img src="/images/file2.png" ></td>
        </tr>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Jacob</td>
        </tr>
        <tr>
          <td>3</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>


        </div>
	


         
    </div> <!-- /container -->
